<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <style> -->
    <link rel="stylesheet" href="libraryuser1.css">     
    <!-- </style> -->
   
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booklist</title>
</head>

<body>
    <div >
        <ol id="navbar">
            <li id="home" class="page">Home</li>
            <li ><form action="" id="search-f">
                <input type="text" name="" id="search" placeholder="search (books)..." value="">
            
            </form></li>
            <a href="/logout"> <li id="logout" class="page">LogOut</li></a>
        </ol>
    </div>
    <div class="full">

        <div id="top">
            <div>

                <header>
                    Available<span>Books</span>List
                </header>
            </div>
        </div>

        <div id="main">
            <!-- <form action="" id="search-f">
                <input type="text" name="" id="search" placeholder="search (books)..." value="">
            
            </form> -->
            <div id="form">
                
                <p id="msg"></p>
                <form action="libraryuser.ejs" id="books" method="post">
                    <label for="title">Title</label>
                    <br>
                    <input type="text" id="title" name="title" value="" >
                    <br>
                    <label for="Author">Author</label>
                    <br>
                    <input type="text" id="Author" name="author" value="">
                    <br>
                    
                    <label for="ISBN#">ISBN#</label>
                    <br>
                    <input type="number" id="ISBN#" name="isbn" value="">
                    <br>
                     
                     <label for="link">Add link</label>
                    <br>
                    <input type="text" id="link" name="link" value="">
                    <br> <br>
                    <input type="submit" value="addBook">
                    
                </form>
            </div>
                
        </div>

        <div id="display">
            <table id="tb">
                <tr>

                    <th class="th">Title</th>
                    <th class="th">Author</th>
                    <th class="th">ISBN</th>
                    <th class="th"> Book Links</th>
                    <th class="th">Delete</th>
                </tr>
                <% if(datas!=null) { %>
                    <% datas.forEach(function(item){ %>
                        <tr>
                            <td class="td"><%= item.title%></td>
                            <td class="td"><%= item.author %></td>
                            <td class="td"><%= item.isbn%></td>
                            <td class="td"><a id="downld" href="<%= item.link %>">Download</a></td>    
                            <td class="td"> <a href="/delete/<%=item._id %>"> <button class="remove"> X </button></a></td>
                        </tr>
                    <% }) %>    
                <% } %>        
               
                <!-- <tr>
                    <td class="td">python</td>
                    <td class="td">viks</td>
                    <td class="td">2345</td>
                    <td class="td"> <button class="remove">X</button> </td>
                </tr>
                <tr>
                    <td class="td">python</td>
                    <td class="td">viks</td>
                    <td class="td">2345</td>
                    <td class="td"> <button class="remove">X</button> </td>
                </tr>
                <tr>
                    <td class="td">python</td>
                    <td class="td">viks</td>
                    <td class="td">2345</td>
                    <td class="td"> <button class="remove">X</button> </td>
                </tr>
                <tr>
                    <td class="td">java</td>
                    <td class="td">vikas</td>
                    <td class="td">12345</td>
                    <td class="td"> <button class="remove">X</button> </td>
                </tr>
                <tr>
                    <td class="td">python</td>
                    <td class="td">viks</td>
                    <td class="td">2345</td>
                    <td class="td"> <button class="remove">X</button> </td>
                </tr>
                 -->


            </table>
        </div>
    </div>
    <script src="libraryuser.js"></script>
    
</body>

</html>